#root, html, body{
 margin:0;
 padding:0;
 height:100vh;
 box-sizing:border-box;
}

.app {
    height:100%;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('.././images/city.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    width: 40%;
    /* height:20%; */
    border-radius: 10px;
    box-shadow: 10px 10px;
    color:black;
    display:block;
    margin:auto;
    padding:auto;
}

.heading{
    padding: 15px;
    margin: 15px;
    text-align: center;
    font-family: 'League Spartan', sans-serif;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    font-size: 16px;
    margin: 15px;
    padding:15px;
    border-radius: 5px;
  }

.button:hover{
    cursor:pointer;
}

.tweet{
    background-color: #1c85d0; /* Blue */
    border: none;
    color: white;
    font-size: 16px;
    margin: 15px;
    padding:15px;
    border-radius: 5px;
}
